* {
  margin: 0px;
  padding: 0px;
}

.app {
  display: flex;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Besley", sans-serif;
}

p, input, button {
  font-family: "Noto Sans", sans-serif;
}

/* Sidebar */

.sidebar {
  width: 480px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(51, 95, 4, 0.1);
  height: 100vh;
}

.sidebar-ellipse {
  margin-top: 80px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ellipse-img {
  position: relative;
}

.ellipse-img img:last-of-type {
  position: absolute;
  top: 0;
  left: 0;
}

.sidebar-score {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-family: "Besley", serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 57px;
  text-transform: capitalize;
  color: rgba(51, 95, 4, 0.1);
}

.sidebar-score span {
  color: #335f04;
}

.sidebar-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sidebar-content h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  text-transform: capitalize;
  color: #333333;
  padding-top: 20px;
}

.sidebar-content p {
  text-align: center;
  font-size: 16px;
  line-height: 22px;
  color: #333333;
  padding: 14px 60px 40px 60px;
}

.sidebar-content button,
footer button {
  padding: 14px 28px;
  margin-bottom: 55px;
  background: #335f04;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
}

.sidebar-progress {
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  text-transform: capitalize;
  padding: 0px 50px;
}

.sidebar-result {
  display: flex;
  justify-content: space-between;
}

.sidebar-progress p {
  font-family: "Besley", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  text-transform: capitalize;
  color: #333333;
}

/* Progress Bar */

.progress-bar {
  background: rgba(51, 95, 4, 0.1);
  width: 511px;
  height: 16px;
  margin-bottom: 30px;
  border-radius: 2px;
}

.percentage {
  height: 100%;
  border-radius: 4px 0px 0px 4px;
}

aside .progress-bar {
  width: 325px;
}

/* Main */

main {
  overflow-y: scroll;
  width: calc(100vw - 480px);
}

header {
  height: 510px;
  background: linear-gradient(113.52deg, #335f04 23.96%, #ffffff 169.53%);
  position: relative;
  display: flex;
  justify-content: center;
}

.navbar {
  position: absolute;
  font-family: "Berkshire Swash", cursive;
  color: #ffffff;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  top: 30px;
  left: 30px;
}

.main-header {
  padding-top: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #ffffff;
  width: 100%;
}

.main-header h1 {
  font-weight: 600;
  font-size: 32px;
  line-height: 54px;
  text-transform: capitalize;
}

.main-header p {
  margin-top: 10px;
  width: 577px;
  line-height: 22px;
}

.main-header button {
  margin-top: 51px;
  padding: 14px 28px;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: 500;
}

header img {
  position: absolute;
  top: 345px;
  border-radius: 8px;
}

/* Mainbar */

.mainbar {
  display: none;
}

/* Result Cards */

.result {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 75px;
}

.first-result {
  padding-top: 280px;
}

.result img {
  padding-bottom: 5px;
  border-radius: 3px;
}

.result div:first-of-type {
  line-height: 54px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  font-weight: 700;
  font-family: "Besley", serif;
}

.result h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 54px;
  text-transform: capitalize;
  color: #333333;
}

.result p {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: rgba(51, 51, 51, 0.7);
  width: 700px;
}

/* Multi- Cards */

.multi-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 75px;
}

.multi-cards .card:nth-child(odd) {
  place-self: end;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 325px;
  height: 325px;
  background: #ffffff;
  box-shadow: 2px 4px 24px 2px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}

.card h3 {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 34px;
  padding: 31px 81px 28px 81px;
  width: max-content;
}

.card p:first-of-type {
  font-weight: 700;
  font-size: 20px;
  line-height: 34px;
  text-transform: capitalize;
  color: #333333;
}

.card p:last-of-type {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: rgba(102, 102, 102, 0.7);
  padding: 9px 35px 45px 35px;
}

.card-img {
  position: relative;
}

.card-img img:last-of-type {
  top: 0;
  left: 0;
  border-radius: 3px;
}

.card-img .mug {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.card-bottom {
  margin: 75px auto;
}

/* Footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 70px;
}

footer h1 {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 24px;
  line-height: 40px;
  text-transform: capitalize;
  color: #333333;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

.inputs {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.input-div {
  width: 348px;
  background: #ffffff;
  border: 2px solid rgba(51, 95, 4, 0.4);
  border-radius: 6px;
  display: flex;
  align-items: center;
}

.input-div img {
  margin-left: 22px;
}

.input-div input {
  outline: none;
  border: none;
  padding: 19px 0px 18px 15.76px;
  font-size: 18px;
  line-height: 18px;
}

.input-div input::placeholder {
  color: #335f04;
  font-weight: 500;
}

footer button {
  padding: 14px 62px;
  margin-bottom: 40px;
}

footer h2 {
  font-size: 22px;
  line-height: 37px;
  color: #333333;
  font-weight: 500;
}

footer p {
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  color: rgba(51, 51, 51, 0.7);
}

.icons-container {
  margin-top: 20px;
  margin-bottom: 40px;
}

.circular-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.circular-icons .icon {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #335f04;
  border-radius: 50%;
}

.button-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.button-icons button {
  padding: 4px 6px;
  margin-bottom: 0;
  cursor: pointer;
}

.button-icons button i {
  padding-right: 5px;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 45px;
  background: #335f04;
  width: 100%;
  color: white;
}

.copyright div {
  padding-left: 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
}

.copyright img {
  padding-right: 20px;
}

.multi-card {
  display: none;
}

@media screen and (max-width: 1600px) {
  header img {
    width: 561px;
  }

  .multi-cards {
    gap: 20px;
  }

  .card {
    width: 270px;
  }
}

@media screen and (max-width: 1400px){
  .multi-cards {
    gap: 14px;
  }

  .card {
    width: 250px;
  }
}

@media screen and (max-width: 1300px) {
  .sidebar {
    display: none;
  }

  main {
    width: 100%;
  }

  .navbar {
    font-size: 18px;
  }

  h1,
  h2 {
    font-size: 28px;
  }

  .main-header button {
    margin-top: 44px;
  }

  .main-header {
    padding: 80px 0px 60px 0;
  }

  .mainbar {
    display: flex;
    height: auto;
    width: 100%;
    justify-content: flex-start;
    padding-top: 200px;
    padding-bottom: 80px;
    margin: 0;
  }

  aside .progress-bar {
    width: 511px;
  }

  .first-result {
    padding-top: 100px;
  }

  .result-card {
    display: none;
  }

  .multi-card {
    display: flex;
    margin: 0;
  }

  .multi-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .card {
    width: 325px;
  }

  .card-bottom-none {
    display: none;
  }

  p {
    font-size: 16px;
  }

  .card p:last-of-type,
  .input-div input,
  .main-header button,
  footer button,
  .sidebar-content button {
    font-size: 14px;
  }

  footer h1 {
    font-size: 24px;
  }

  .copyright div {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .main-header p {
    width: auto;
    padding: 0 25px;
  }

  header img {
    top: 350px;
    width: 80%;
  }

  .progress-bar {
    width: 325px !important;
  }

  .sidebar-content h2 {
    font-size: 22px;
  }

  .sidebar-content p {
    font-size: 14px;
  }

  .result p:last-of-type {
    width: auto;
    padding: 0px 25px;
    font-size: 14px;
  }

  .card {
    width: 270px;
  }

  .input-div {
    width: 300px;
  }

  .result div:first-of-type,
  .result h2 {
    font-size: 24px;
  }
}

@media screen and (max-width: 600px) {
  header {
    height: 450px;
  }

  .main-header h1 {
    font-size: 24px !important;
  }

  h2,
  footer h1 {
    font-size: 22px;
  }

  .main-header p {
    font-size: 14px;
  }

  .mainbar {
    height: auto;
    width: 100%;
    justify-content: start;
    padding-top: 150px;
    padding-bottom: 80px;
  }

  .sidebar-progress {
    padding: 0;
  }

  .first-result {
    padding-top: 80px;
  }

  .multi-cards {
    grid-template-columns: 1fr;
  }

  .multi-cards .card {
    place-self: center !important;
    width: 325px;
  }

  .card h3 {
    font-size: 20px;
  }

  .inputs {
    flex-direction: column;
  }

  .input-div input {
    font-size: 12px;
    padding-top: 14px;
    padding-bottom: 14px;
  }

  footer p {
    font-size: 16px !important;
  }

  footer button {
    padding: 12px 54px;
  }

  .copyright {
    flex-direction: column;
    height: 80px;
    justify-content: center;
  }

  .copyright div {
    padding-left: 0;
  }

  .copyright img {
    padding-right: 0;
  }
}

@media screen and (max-width: 420px) {
  .mainbar {
    padding-top: 70px;
  }

  .multi-cards .card {
    width: 300px;
  }

  .progress-bar {
    width: 290px;
  }

  .button-icons button {
    font-size: 12px;
  }
}

@media screen and (max-width: 340px) {
  header img {
    top: 400px;
  }

  .progress-bar {
    width: 270px !important;
  }

  .button-icons button {
    font-size: 10px;
  }

  .multi-cards .card {
    width: 270px;
  }
}